@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap");

* {
  color: #8e9294;
  background-color: #f8f8f8;
  font-family: "Noto Sans", sans-serif;
  margin: 0rem;
}
/*Utilidades de texto*/
.uppercase {
  text-transform: uppercase;
}
.italic {
  text-transform: italic;
}
/*Cores de texto*/
.aqua {
  color: #369dac;
}
.orange {
  color: #f9b562;
}
.white {
  color: #ffffff;
}
/*Centralização de texto no banner*/
.container {
  position: relative;
  text-align: center;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
}
.container hr {
  align-self: center;
}
.centered {
  position: absolute;
  bottom: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: transparent;
}
/*Seções*/
.ourTeamSection {
  display: flex;
  flex-flow: column wrap;
}
.knowOurTeamSection {
  display: flex;
  flex-flow: column nowrap;
  text-align: center;
}
.knowOurTeamSection hr {
  align-self: center;
}
.imagesSection {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  padding: 1rem;
}
.cardImage {
  display: flex;
  justify-content: center;
}
.imagesSection img {
  max-width: 50%;
}
.jobsSection {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
}
.jobsSection img {
  padding: 1rem;
}
.jobsSection h2 {
  text-align: center;
}
.jobsList {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
}
.jobsList li {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
}
.jobsList a {
  color: #369dac;
  text-decoration: none;
  font-size: 1.25rem;
  font-weight: 700;
}
/*Outros*/
.card h3 {
  text-align: center;
}
.card {
  text-align: justify;
  align-content: center;
}
.styledLink {
  text-decoration: none;
  font-size: 1.25rem;
  font-weight: 700;
}
.pageTitle {
  font-size: 2rem;
  font-weight: 700;
}
.paragraphDescription {
  text-align: justify;
}
/* Media Queries */
@media screen and (min-width: 1024px) {
  .ourTeamSection {
    display: flex;
    flex-flow: row nowrap;
  }
  .card {
    text-align: justify;
    padding: 1rem;
    max-width: 30%;
  }
  .cardSection {
    display: flex;
    flex-flow: row nowrap;
    align-items: top;
    justify-content: space-around;
  }
  .imagesSection {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    padding: 1rem;
  }
  .jobsSection img {
    padding: 3rem;
  }
  .jobsList li {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
  }
}
